<% if defined? wall_payments %>
	<table>
		<caption>
      <h1>Results</h1>
      <small>
        for <%= wall_payments.wallet%>
      </small>
    </caption>
		<th>Pool Name</th>
		<th>Paid</th>
		<th>Balance on pool</th>
	  <% wall_payments.payouts.each do |pool| %>
		<tr>
		    <td> <%= pool[0] %> </td>
		    <td> <%= "%.12f" % pool[1][0] %> </td>
		    <td> <%= "%.12f" % pool[1][1] %> </td>
		</tr>
	  <% end %>
	  <tr>
	  	<td> <b>Summary</b> </td>
	  	<td> <b><%= wall_payments.summary[0] %> XMR</b></td>
	  	<td> <b><%= wall_payments.summary[1] %> XMR</b></td>
	  </tr>
	</table>
  Scaned pools: <%= wall_payments.scaned_pools %>
<% end %>